fieldset {
     width: 500px;
     height: 500px; 
     border:#ADD8E6 solid
}

form {
     margin: 20px 50px 0 35px
}

table {
     border-collapse:separate; 
     border-spacing:15px 15px
}

#field {
     background-color: #1e8dcc; 
     vertical-align: top; 
     text-align: left; 
     padding: 5px 5px
}

label {
     color: white
}

.field {
     background-color: #2E8BC0; 
     vertical-align: top; 
     text-align: left; 
     padding: 5px 5px
}

select {
     border-color:#ADD8E6;
     height: 100%;
     width: 80%
}

.input {
     line-height: 32px;
     border-color:#ADD8E6
}

button {
     background-color: #49be25; 
     border-radius: 10px; 
     width: 35%; 
     height: 43px; 
     border-width: 0; 
     margin: 20px 130px; 
     color: white
}

#gender {
     color: black;
}